/* Font */

.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 500;
  font-style: normal;
}

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Mio css */

body {
  width: 50%;
  margin: 0 auto;
  background-color: #ecedef;
}

h1 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0 -4em;
  font-size: 50px;
  letter-spacing: 5px;
}
.position > p:not(p:first-child) {
  letter-spacing: 5px;
}
.centre {
  text-align: center;
  justify-content: center;
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0 0 0 -30px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.position {
  position: absolute;
  top: 300px;
  right: 600px;
  text-align: right;
}

p {
  margin: 5px 5px;
}
.over {
  transform: translateX(-100%);
  width: 500px;
  position: absolute;
  left: 270px;
  margin: 0;
}

.restaurant {
  display: flex;
  margin: 20px 0 0 0;
  flex-direction: column;
  align-items: center;
}
.petit {
  margin: 0;
  align-items: center;
  /* width: 475px; */
  width: 50%;
}
.sect {
  display: flex;
  align-items: center;
  /* gap: 20px; */
  margin: 0;
}

.taille {
  width: 107%;
}

.note {
  background-color: black;
  color: white;
  width: 40%;
  padding: 10px;
}
.back {
  margin: 40px 0 0 390px;
  position: relative;
}

.abs {
  position: absolute;
  top: 40px;
  right: 430px;
}

.opaco {
  opacity: 0.1;
}
.fin {
  text-align: center;
}

.bord {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0 0 0 220px;
  font-size: 50px;
  width: 500px;
}
#margin {
  margin-top: 0;
}

.bottom {
  margin-bottom: 0;
}

.spazio1 {
  margin-right: 20px;
}

.spazio2 {
  margin-left: 40px;
}

h2 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}
img {
  display: block;
}

.return{
  position: absolute;
  left: 2%;
  top: 2%;
  background-color: #000000;
  padding: 15px 50px;
  border-radius: 20px;
}

.return p{
  text-decoration: none;
  color: #ffffff;
}

.return:hover{
  background-color: #353434;
}

@media (max-width: 1024px) {
  body {
    width: 100%;
    margin: 0;
  }

  .position {
    right: 20px;
  }

  .back {
    margin: 0 0 0 450px;
  }
  .abs {
    right: 445px;
  }

  .bord {
    margin-left: 290px;
  }
}

@media (max-width: 768px) {
  .back {
    margin: 0 0 0 300px;
  }

  .abs {
    right: 340px;
  }

  .bord {
    margin-left: 130px;
  }
}

@media (max-width: 425px) {
  body {
    width: 100%;
  }
  .bord {
    margin-left: -45px;
  }
  .telephone {
    width: 50%;
  }
  .position {
    top: 170px;
  }
  .back {
    margin: 0 0 0 150px;
  }
  .abs {
    right: 150px;
  }
  .over {
    transform: translateX(-100%);
    width: 250px;
    position: absolute;
    left: 180px;
    margin: 0;
  }

  .sect {
    flex-direction: column;
  }

  .petit {
    width: 100%;
  }
  .restaurant {
    margin: auto;
  }
}
