body{
    background-image: url(../img-projects/background2.jpg);
}

#taskContainer{
    width: 80%;
    height: fit-content;
    margin: 5% auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 10px rgb(148, 111, 184);
    background-color: rgb(255, 255, 255);
}

h1{
    color: rgb(111, 20, 201);
    text-shadow: 2px 2px 5px;
}

#taskInput{
    padding: 10px;
    border-radius: 10px;
    border: solid 0.5px rgb(148, 111, 184);
    width: 70%;
    margin-right: 5%;
}

#addTaskButton{
    padding: 8px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    width: 10%;
}

#addTaskButton:hover{
    background-color: rgb(111, 20, 201);
    color: white;
}

ul{
    padding-bottom: 20px;
    padding-left: 20px;
}
ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
}

.supprim{
    background-color: rgb(111, 20, 201);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.return{
  position: absolute;
  left: 2%;
  top: 2%;
  background-color: #000000;
  padding: 0 50px;
  border-radius: 20px;
}

.return p{
  text-decoration: none;
  color: #ffffff;
}

.return:hover{
  background-color: #353434;
}

